<div class="row mt-4">
  <div class="col-12">
    <% if post.comments.any? %>
      <h4>コメント</h4>
      <% post.comments.each do |comment| %>
        <div class="card mb-3">
          <div class="card-body">
            <div class="row">
              <div class="col-auto">
                <%= image_tag(comment.customer.profile_image, class: "profile-image", size: "100x100") %>
              </div>
              <div class="col">
                <div class="d-flex justify-content-between align-items-center">
                  <h5><%= comment.customer.name %></h5>
                  <small><%= comment.created_at.strftime('%Y/%m/%d') %></small>
                </div>
                <h6><%= comment.comment %></h6>
                <div class="text-right">
                  <%= link_to "削除", admins_post_comment_path(post, comment), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <p>まだコメントはありません。</p>
    <% end %>
  </div>
</div>
