<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-lg-2 col-4">
        <%= link_to image_tag(customer.get_profile_image(120, 120)), customer_path(customer) %>
      </div>
      <div class="col-lg-8 col-8">
        <h5><%= link_to customer.name, customer_path(customer) %></h5>
        <% if customer.introduction.present? %>
          <p><%= customer.introduction %></p>
        <% else %>
          <p>自己紹介文はありません</p>
        <% end %>
      </div>
      <div class="col-lg-2 col-12 d-flex align-items-center">
        <% if current_customer.following?(customer) %>
          <%= link_to "フォロー中", customer_relationships_path(customer.id), class:"btn btn-sm btn-primary", method: :delete %>
        <% else %>
          <%= link_to "フォロー", customer_relationships_path(customer.id), class:"btn btn-sm btn-success", method: :post %>
        <% end %>
      </div>
    </div>
  </div>
</div>