<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-lg-10 mx-auto">
      <%= flash[:notice] %>
      <%= flash[:alert] %>
      <div class="card shadow-lg px-3 py-3">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col-12 col-sm-2">
              <%= image_tag @customer.get_profile_image(120, 120) %>
            </div>
            <div class="col-12 col-sm-6 col-md-8">
              <h3 class="mb-4 customer-name"><%= @customer.name %></h3>
              <div class="travel-info">
                <div class="travel-info__item travel-info__item--followers">
                  <p class="travel-info__value">
                    <%= link_to customer_followers_path(@customer) do %>
                      <%= @customer.followers.count %>
                    <% end %>
                  </p>
                  <p class="travel-info__label">フォロワー</p>
                </div>
                <div class="travel-info__item travel-info__item--followings">
                  <p class="travel-info__value">
                    <%= link_to customer_followings_path(@customer) do %>
                      <%= @customer.followings.count %>
                    <% end %>
                  </p>
                  <p class="travel-info__label">フォロー中</p>
                </div>
                <div class="travel-info__item travel-info__item--trips">
                  <p class="travel-info__value">
                    <% if current_customer == @customer %>
                      <%= link_to customer_report_path do %>
                        <%= @customer.posts.count %>
                      <% end %>
                    <% else %>
                      <%= @customer.posts.count %>
                    <% end %>
                  </p>
                  <p class="travel-info__label">旅行</p>
                </div>
                <div class="travel-info__item travel-info__item--total-days">
                  <p class="travel-info__value">
                    <% if current_customer == @customer %>
                      <%= link_to customer_report_path do %>
                        <%= (@customer.posts.sum { |post| (post.return_date - post.departure_date).to_i + 1 }).to_s %>
                      <% end %>
                    <% else %>
                      <%= (@customer.posts.sum { |post| (post.return_date - post.departure_date).to_i + 1 }).to_s %>
                    <% end %>
                  </p>
                  <p class="travel-info__label">累計旅行日数</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-10 mx-auto">
      <%= render 'customers/posts/posts_list', posts: @posts %>
    </div>
  </div>
</div>

<style>
  .travel-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .travel-info__item {
    flex: 0 0 25%;
    text-align: center;
  }

  .travel-info__value {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .travel-info__label {
    font-size: 14px;
    color: #888;
  }

  .travel-info__item--trips {
    border-right: 1px solid #888;
  }

  .travel-info__item--total-days {
    border-left: 1px solid #888;
  }

  .customer-name {
    margin-left: 10px;
  }
</style>