<div class="card shadow-lg px-3 py-3">
  <% if @posts.empty? %>
    <p>投稿がありません。</p>
  <% else %>
    <% @posts.each_with_index do |post, index| %>
      <div class="card mb-3 h-100 <% if index < @posts.size - 1 %>mb-2<% end %>">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col-md-2 col-12">
              <%= link_to customer_path(post.customer) do %>
                <%= image_tag post.customer.get_profile_image(60, 60), class: "mt-0 rounded-circle" %>
                <h6><%= post.customer.name %></h6>
                <%= render "customers/favorites/favorite", post: post %>
              <% end %>
            </div>
            <div class="col-md-10 col-12">
              <div class="row">
                <% if post.images.attached? %>
                  <div class="col-md-3 col-12">
                    <%= link_to post_path(post) do %>
                      <h6><%= truncate(post.title, length: 9, omission: '...') %></h6>
                      <% post.images.first(1).each do |image| %>
                        <%= image_tag image.variant(resize_to_limit: [150, 150]), class: "d-block" %>
                      <% end %>
                    <% end %>
                  </div>
                <% else %>
                  <div class="col-12">
                    <%= link_to post_path(post) do %>
                      <h6><%= truncate(post.title, length: 10, omission: '...') %></h6>
                    <% end %>
                  </div>
                <% end %>
                <div class="<%= post.images.attached? ? 'col-md-9 col-12' : 'col-12' %>">
                  <% if post.content.present? %>
                    <% if post.content.length > 89 %>
                      <%= truncate(post.content, length: 89, omission: '...') %>
                    <% else %>
                      <%= post.content %>
                    <% end %>
                  <% end %>
                </div>
              </div>
              <div class="row justify-content-end">
                <div class="col-auto">
                  <span class="text-muted"><%= post.updated_at.strftime("%Y-%m-%d %H:%M") %></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
  <%= paginate @posts %>
</div>