<!DOCTYPE html>
<html>
  <head>
    <title>FootPrints</title>
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/32be1931c4.js" crossorigin="anonymous"></script>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
    <%= javascript_include_tag "https://cdn.jsdelivr.net/npm/chartkick@4.0.3" %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= @classname %>">
    <div class="md-4">
      <%= render 'layouts/header' %>
    </div>
    <%= yield %>
    <div class="fixed-bottom">
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>

<style>
  body {
    padding-bottom: 95px;
    background-image: url(<%= asset_path('aozora.jpg') %>);
    background-size: cover;
  }
</style>